// app global css in SCSS form
.mt-01 {
  margin-top: 1rem;
}

.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.important-input-label::after {
  content: '*'; /* * 문자를 추가 */
  color: red; /* * 문자의 색상을 빨간색으로 설정 */
}
